<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<!--
	<typeAliases>
		<typeAlias type="com.spring.bookduck" alias=""/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/" />
	</mappers>
	-->
	
	<typeAliases>
		<typeAlias type="com.spring.bookduck.model.dto.MemberDto" alias="Ldto"/>
		<typeAlias type="com.spring.bookduck.classify.dto.AireDto" alias="AireDto"/>
		<typeAlias type="com.spring.bookduck.classify.dto.BlistDto" alias="BlistDto"/>
		<typeAlias type="com.spring.bookduck.model.dto.PostDto" alias="postDto"/>
		<typeAlias type="com.spring.bookduck.paydto.PayDto" alias="payDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/login-mapper.xml"></mapper>
		<mapper resource="/mybatis/classify-mapper.xml"></mapper>
		<mapper resource="/mybatis/board-mapper.xml"/>
		<mapper resource="/mybatis/pay-mapper.xml"/>
	</mappers>
	
	
</configuration>
