@charset "UTF-8";

/*폰트*/

p{
	font-family: "NanumSquareRoundEB";
	src: url("resources/font/NanumSquareRoundEB.ttf");
}
#header a{
	font-weight: bold;
}

#mainCenter>div {
	width: 48%;
	float: left;
	margin-left: 2%;
	margin-bottom: 100px;
} /*#mainCenter_left{width:50%;} #mainCenter_right{width: 40%}*/
#inputMessage {
	width: 80%;
}

.jumbotron {
    padding: 4rem 10rem;
	margin-bottom: 0;
}

/*채팅*/
.RealTimeNovle{
	width: 100%;
	margin-top: 100px;
}
/*지도*/
#mainCenter_right{
	margin-top: 100px;
}
#map{
	width: 100%;
	height: 360px;
}
/*인공지능책추천*/
.content{
	margin: 20px;
}



.cols {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: table-cell;
}

/*책추천버튼*/
#btncss{
  background:#F5DC7A;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  text-align: center;
  vertical-align: middle; 
}
#btncss:hover{
  background:#fff;
  color:#EDC630;
}
#btncss:before,#btncss:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #EDC630;
  transition:400ms ease all;
}
#btncss:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#btncss:hover:before,#btncss:hover:after{
  width:100%;
  transition:800ms ease all;
}

/*책장르*/
#genre{
	background-color: white;
	left: 50px;
}
#tbb{
	width: 300px;
	margin-left: 30px;
	margin-right: 30px;
}
#td1{
	width: 105px; 
}
#td2{
	width: 145px; 
}

.rowResult{
    width: 150px;
    height: 300px;
    margin: 30px;
}
#Result1{
	width: 100px;
	height: 200px;
	margin: 0;
}


/*장르선택 버튼*/
select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;	
	
  font-weight: 400;
  line-height: 1.5;

  color: #444;
  background-color: #fff;

  padding: 0.6em 1.4em 0.5em 0.8em;
  margin: 0;

  border: 1px solid #aaa;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select:disabled {
  opacity: 0.5;
}

label {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  
  color: #444;
  
  margin-right: 0.5em;
}