@charset "UTF-8";

.join-title{height: 100px;}
table{width: 500px;}
table {
    margin-left:auto;
    margin-right:auto;
}
#joinbutton{border:none; color:white; 
	width: 500px; height: 50px; background-color:#6277BA;
	margin-left:auto; margin-right:auto;}
td {height:40px; background-color:#FDF7DD;}
th{background-color: #6277BA;}
input, button{vertical-align:middle; border:none;}
.text_box{width:290px; height:40px;}
th{width:290px; height:51px;}
button{height:40px;}
body {margin: 0px;}
#idCheck{
	
}
button {
    width: 116px;
    background: #EDC630;
    color: black;
    border: none;
    position: relative;
    height: 42px;
    cursor: pointer;
    float: right;
    border-radius: 10px;
    font-weight: bold;
}