@charset "UTF-8";

@font-face{
	font-family: "NanumSquareRoundEB";
	src: url("webapp/font/NanumSquareRoundEB.ttf");
}
p{
	font-family: NanumSquareRoundEB;
}

.login-title{height: 400px;}
table{width: 400px;}
table {
    margin-left:auto;
    margin-right:auto;
}
#login{border:none; color:white; 
	width: 400px; height: 50px; background-color:#6277BA;
	margin-left:auto; margin-right:auto;
	font-size: 20;}
td {height:40px; background-color: #FDF7DD;}
th{background-color: #6277BA; width:50px;}
.text_box{width:290px; height:40px;}
th{width:290px; height:51px;}
button{height:40px;}
input, button{vertical-align:middle; border:none;}


a:hover {
  color : #6277BA;
  
}
a:active {
  color : black;
}
#join_link{
	text-decoration: underline;
}
#SNSButton{
	text-align:center;
	margin-left:auto; margin-right:auto;
	width: 100%;
}
body{
	margin: 0px;
}
