@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family:sans-serif;

}

body {
  margin: 0;
    height: 100%;
    background:white;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

.login-form{
	position: relative;
	width: 300px;
	height: 200px;
	text-align: center; width: 50%;}
#login-form{
	position: absolute;
	width: 500px;
	height: 500px;
	background: #FDF7DD;
	color: #000000;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	
}
	.login-form>tbody>tr{height: 50px; background-color: #FDF7DD;}
	.login-form>tbody>th{height: 50px; background-color: #FDF7DD;}
	thead{height: 40px; background-color: #F5DC7A;}
	ul{text-align : center;}
	ul li{list-style: none; display: inline-block;}
	#pagingArea{width:fit-content; margin:auto;}
	#searchForm {text-align: center;}
	#searchForm>*{display:inline-block; margin:5px;}
	.pagination a {
		padding: 3px 8px;
		margin: 5px;
	}
	a.on{
		width: 30px;
		height: 30px;
		border: none;
		border-radius: 100%;
		background-color: #F5DC7A;
		color: white;
	}
	button{
		width : 60px;
		height: 25px;
		border: none;
		border-radius: 25%;
		background-color: #F5DC7A;
		cursor: pointer;
	}
