@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family:sans-serif;

}

body {
  margin: 0;
    height: 100%;
    background:white;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

.payForm {
  position:absolute;
  width:300px;
  height:400px;
  padding: 30px, 20px;
  background-color:#fdf7dd;
  text-align:center;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
}

.loginForm h2{
  text-align: center;
  margin: 30px;
}

.idForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.passForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.id {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
  text-align: center;
  
}

.price {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
  text-align: center;
}

.btn {
  position:relative;
  left:30%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width:60%;
  height:40px;
  background: #fcf798;
  background-size: 200%;
  font-weight: bold;
  border-radius: 15px;
  border-color:#fcf798;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
}

.btn:hover {
  background-position: center;
  color: white;
}

.bottomText {
  text-align: center;
}
	
	
	
	
	
	
	
	
	