<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="boardMapper">

	<select id="listCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM POST
		WHERE BOARD_ID = #{board_id}
		AND POST_DELFLAG = 'N'
	</select>
	
	<select id="selectList" parameterType="int" resultType="postDto">
		SELECT POST_ID, BOARD_ID, POST_NO, POST_CATEGORY, POST_WRITER, POST_TITLE, POST_CONTENT, POST_REGDATE,
		POST_HIT, POST_COMMENT_COUNT, POST_DELFLAG, ORIGINNAME, CHANGENAME
		FROM POST
		WHERE BOARD_ID = #{board_id}
		AND POST_DELFLAG = 'N'
		ORDER BY POST_NO DESC
	</select>

	<select id="selectOne" parameterType="int" resultType="postDto">
		SELECT POST_ID, BOARD_ID, POST_NO, POST_CATEGORY, POST_WRITER, POST_TITLE, POST_CONTENT, POST_REGDATE,
		POST_HIT, POST_COMMENT_COUNT, POST_DELFLAG, ORIGINNAME, CHANGENAME
		FROM POST
		WHERE POST_ID = #{post_id}
	</select>
	
	<update id="increaseCount" parameterType="int">
		UPDATE POST
		SET POST_HIT = POST_HIT + 1
		WHERE POST_ID = #{post_id}
	</update>
	
	<insert id="insertNotice" parameterType="postDto">
		INSERT INTO POST
		VALUES(
		POSTSEQ.NEXTVAL,
		0,
		NOTICESEQ.NEXTVAL,
		NULL,
		#{post_writer},
		#{post_title},
		#{post_content},
		SYSDATE,
		0, 0, 'N', #{originName}, #{changeName}
		)
	</insert>
	
	<insert id="insertQNA" parameterType="postDto">
		INSERT INTO POST
		VALUES(
		POSTSEQ.NEXTVAL,
		1,
		QNASEQ.NEXTVAL,
		#{post_category},
		#{post_writer},
		#{post_title},
		#{post_content},
		SYSDATE,
		0, 0, 'N', #{originName}, #{changeName}
		)
	</insert>
	
	<update id="updateBoard" parameterType="postDto">
		UPDATE POST
		SET POST_TITLE = #{post_title},
		POST_CONTENT = #{post_content},
		ORIGINNAME = #{originName},
		CHANGENAME = #{changeName}
		WHERE POST_ID = #{post_id}
	</update>
	
	<update id="deleteBoard" parameterType="int">
		UPDATE POST
		SET POST_DELFLAG = 'Y'
		WHERE POST_ID = #{post_id}
	</update>
	
	<update id="allCommentDelete" parameterType="int">
		UPDATE COMM
		SET COMMENT_DELFLAG = 'Y'
		WHERE POST_ID = #{post_id}
	</update>
	
	<select id="selectCommentList" parameterType="int" resultType="commentDto">
		SELECT COMMENT_ID, POST_ID, COMMENT_NO, COMMENT_GROUPNO, COMMENT_GROUPSEQ, COMMENT_CONTENT, COMMENT_WRITER, COMMENT_REGDATE, COMMENT_TITLETAB, COMMENT_DELFLAG
		FROM COMM
		WHERE POST_ID = #{post_id}
		AND COMMENT_DELFLAG = 'N'
		ORDER BY COMMENT_ID DESC
	</select>
	
	<insert id="insertComment" parameterType="commentDto">
		INSERT INTO COMM
		VALUES(COMMSEQ.NEXTVAL, #{post_id}, NULL, NULL, NULL, #{comment_content}, #{comment_writer}, TO_CHAR(SYSDATE, 'YYYY-MM-DD'), 0, 'N' )
	</insert>

	<update id="increaseComment" parameterType="int">
		UPDATE POST
		SET POST_COMMENT_COUNT = POST_COMMENT_COUNT + 1
		WHERE POST_ID = #{post_id}
	</update>
	
	<update id="updateComment" parameterType="commentDto">
		UPDATE COMM
		SET COMMENT_CONTENT = #{comment_content},
		COMMENT_REGDATE = TO_CHAR(SYSDATE, 'YYYY-MM-DD') 
		WHERE COMMENT_ID = #{comment_id}
	</update>
	
	<update id="deleteComment" parameterType="int">
		UPDATE COMM
		SET COMMENT_DELFLAG = 'Y'
		WHERE COMMENT_ID = #{comment_id}
	</update>
	
	<update id="decreaseComment" parameterType="int">
		UPDATE POST
		SET POST_COMMENT_COUNT = POST_COMMENT_COUNT - 1
		WHERE POST_ID = #{post_id}
	</update>
	
	<!-- 검색결과에 해당하는 게시글 조회용 쿼리문 -->
	<select id="selectSearchList" parameterType="map" resultType="postDto">
		SELECT POST_ID, BOARD_ID, POST_NO, POST_CATEGORY, POST_WRITER, POST_TITLE, POST_CONTENT, POST_REGDATE,
		POST_HIT, POST_COMMENT_COUNT, POST_DELFLAG, ORIGINNAME, CHANGENAME
		FROM POST
		WHERE POST_DELFLAG = 'N'
		AND BOARD_ID = 1
		<choose>
			<when test="condition == 'title'">
				AND POST_TITLE
			</when>
			<when test="condition == 'writer'">
				AND POST_WRITER
			</when>
			<otherwise>
				AND POST_CONTENT
			</otherwise>
		</choose>
		LIKE '%' || #{keyword} || '%'
		ORDER BY POST_NO DESC
	</select>
	
	<select id="selectSearchCount" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM POST
		WHERE BOARD_ID = 1
		AND POST_DELFLAG = 'N'
		<choose>
			<when test="condition == 'title'">
				AND POST_TITLE
			</when>
			<when test="condition == 'writer'">
				AND POST_WRITER
			</when>
			<otherwise>
				AND POST_CONTENT
			</otherwise>
		</choose>
		LIKE '%' || #{keyword} || '%'
	</select>
	
	
</mapper>
