<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<select id="selectOne" parameterType="int">
		SELECT POST_ID, BAORD_ID, POST_NO, POST_CATEGORY, POST_WRITER, POST_TITLE, POST_CONTENT, POST_REGDATE,
		POST_HIT, POST_COMMENT_COUNT, POST_DELFLAG, ORIGINNAME, CHANGENAME
		FROM POST
		WHERE POST_ID = #{post_id}
	</select>
	
	<update id="increaseCount" parameterType="int">
		UPDATE POST
		SET POST_HIT = POST_HIT + 1
		WHERE POST_ID = #{post_id}
	</update>
	
	<insert id="insertNotice" parameterType="postDto">
		INSERT INTO POST
		VALUES(
		POSTSEQ.NEXTVAL,
		#{board_id},
		NOTICESEQ.NEXTVAL,
		NULL,
		#{post_writer},
		#{post_title},
		#{post_content},
		SYSDATE,
		0, 0, 'N', #{originName}, #{changeName}
		)
	</insert>
	
	<insert id="insertQNA" parameterType="postDto">
		INSERT INTO POST
		VALUES(
		POSTSEQ.NEXTVAL,
		#{board_id},
		QNASEQ.NEXTVAL,
		#{post_category},
		#{post_writer},
		#{post_title},
		#{post_content},
		SYSDATE,
		0, 0, 'N', #{originName}, #{changeName}
		)
	</insert>
	
	<update id="updateBoard" parameterType="postDto">
		UPDATE POST
		SET POST_TITLE = #{post_title},
		POST_CONTENT = #{post_content},
		ORIGINNAME = #{originName},
		CHANGENAME = #{changeName}
		WHERE POST_ID = #{post_id}
	</update>
	
	<update id="deleteBoard" parameterType="int">
		UPDATE POST
		SET POST_DELFLAG = 'Y'
		WHERE POST_ID = #{post_id}
	</update>

</mapper>
