<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="introduce">


<select id="intdselectone" parameterType="String" resultType="intdDto" >

SELECT INTD_ID, INTD_CONTENT, INTD_NO
FROM MEMBER INNER JOIN INTRODUCETABLE
ON MEMBER.MEMBER_ID = INTRODUCETABLE.INTD_ID
WHERE MEMBER_ID  = #{intd_id}

</select>

</mapper>
