<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="JoinMapper">

	<resultMap type="Ldto" id="memberMap">
		<result property="member_no" column="MEMBER_NO"/>
		<result property="member_id" column="MEMBER_ID"/>
		<result property="member_pw" column="MEMBER_PW"/>
		<result property="member_age" column="MEMBER_AGE"/>
		<result property="member_gender" column="MEMBER_GENDER"/>
		<result property="member_email" column="MEMBER_EMAIL"/>
		<result property="member_enabled" column="MEMBER_ENABLED"/>
		<result property="member_payrole" column="MEMBER_PAYROLE"/>
		<result property="member_role" column="MEMBER_ROLE"/>
		<result property="member_type" column="MEMBER_TYPE"/>
		<result property="member_blist" column="MEMBER_BLIST"/>
	</resultMap>
  <insert id = "Join" parameterType="Ldto">
  	INSERT INTO MEMBER (MEMBER_NO, MEMBER_ID, MEMBER_PW, MEMBER_AGE,
  						MEMBER_GENDER, MEMBER_EMAIL, MEMBER_ENABLED,
  						MEMBER_PAYROLE, MEMBER_ROLE, MEMBER_TYPE,
  						MEMBER_BLIST)
  				VALUES (MEMBERSEQ.NEXTVAL, #{member_id}, #{member_pw}, #{member_age}, #{member_gender}, 
  						#{member_email}, 'Y', 'Y', 'USER', 'GENERAL', 'N')
  </insert>
</mapper>
