<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rcimg">
	
	<select id="imglist" parameterType="String" resultType="rcimgDto">
		SELECT RCIMG_NO,RCIMG_CONTENT,BOOK_ISBN
		FROM RCIMGTABLE
		WHERE BOOK_ISBN = #{book_isbn}
	
	</select>
	
	<select id="imgselectone" parameterType="int" resultType="rcimgDto">
		SELECT RCIMG_NO,RCIMG_CONTENT,BOOK_ISBN
		FROM RCIMGTABLE
		WHERE RCIMG_NO = #{rcimg_no}
	
	</select>
	
	<insert id="imginsert" parameterType="rcimgDto">
		INSERT INTO RCIMGTABLE
		VALUES(RCIMG_NO.NEXTVAL,#{book_isbn},#{rcimg_content})
	</insert>
	
	<delete id="imgdelete" parameterType="int">
		DELETE FROM RCIMGTABLE
		WHERE RCIMG_NO = #{rcimg_no}
	</delete>
</mapper>
